@font-face {
    font-family: 'Stratos';
    src: url('Stratos-Bold.woff2') format('woff2'),
        url('Stratos-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('Stratos-Medium.woff2') format('woff2'),
        url('Stratos-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Stratos';
    src: url('Stratos-Regular.woff2') format('woff2'),
        url('Stratos-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
